:root {
    --main-menu-line-height: 8rem;
    --sub-menu-line-height: 4rem;
    --menu-link-color: #eee;
    --menu-text-color: #aaa;
    --menu-on-hover-color: #eb3330;
    --menu-transition-speed: 500ms;
    --submenu-border-color: #eb3330;
    --header-background-color: #070707;
    --menu-background-color: #191919;
    --search-button-color: #eb3330;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px;
    background: white;
    color: var(--menu-text-color);
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--header-background-color);
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;

}

.header__logo {
    width: 16rem;
    padding: 1rem;
}

.menu__burger-buttons {
    font-size: 4rem;
    color: var(--op-menu-link-color);
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 1000;

}

#menu--close {
    display: none;
}


/* Navigation menu */

nav {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);


}

.main-menu {
    display: fixed;
    background-color: var(--menu-background-color);


}

.main-menu li {
    line-height: 4rem;
}



.main-menu a {
    /* all the anchors in the menu are styled here */


    color: var(--menu-link-color);
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    align-items: center;

}

.sub-menu {

    background-color: var(--menu-background-color);
    border-left: 3px solid var(--submenu-border-color);
    margin-left: 3px;
}

@media screen and (max-width: 850px) {

    .main-menu--lg {
        width: 100vw;
        overflow-y: scroll;
        display: none;
    }

    .sub-menu {
        display: none;
    }
}

/* DESKTOP VIEW */
@media screen and (min-width: 851px) {
    .header__logo {
        width: 24rem;
        margin-right: 4rem;
        padding: 1.5rem 0 1rem 0;
    }

    .menu__burger-buttons {
        /*Hiding the burger buttons*/
        display: none;
    }

    nav {
        display: flex;
        background-color: var(--header-background-color);
    }



    /* MAIN MENU STYLES*/

    .main-menu--lg {
        display: flex;
        position: relative;
        line-height: var(--main-menu-line-height);
        overflow-y: initial;

    }

    .main-menu--lg li {
        line-height: var(--main-menu-line-height);
        background-color: var(--header-background-color);
    }

    .main-menu--lg a {
        background-color: var(--header-background-color);
    }

    /*MAIN MENU EFFECTS*/

    .main-menu--lg a:hover {
        color: var(--menu-on-hover-color);
        transition: color var(--menu-transition-speed);
        -webkit-transition: color var(--menu-transition-speed);
        -moz-transition: color var(--menu-transition-speed);
        -ms-transition: color var(--menu-transition-speed);
        -o-transition: color var(--menu-transition-speed);
    }

    /* SUB MENU STYLES */
    .sub-menu--lg {
        width: 20rem;
        position: absolute;
        border: 3px solid transparent;
        z-index: 100;
        top: 16rem;
        max-height: initial;
        background-color: var(--menu-background-color);
        transition: all var(--menu-transition-speed);
        -webkit-transition: all var(--menu-transition-speed);
        -moz-transition: all var(--menu-transition-speed);
        -ms-transition: all var(--menu-transition-speed);
        -o-transition: all var(--menu-transition-speed);

        opacity: 0;
        visibility: hidden;
    }

    .sub-menu li {
        line-height: var(--sub-menu-line-height);
        position: relative;
    }

    .sub-menu--lg-slide-up {
        border-top: 3px solid var(--submenu-border-color);
    }

    .sub-menu--lg-slide-up::before {
        /*little up arrow on the first level submenus*/
        content: "";
        position: absolute;
        top: -2.5rem;
        left: 3rem;
        border: 1.2rem solid transparent;
        border-bottom-color: var(--submenu-border-color);

    }

    .sub-menu--lg-slide-left {
        border-left: 3px solid var(--submenu-border-color);
        /*second level submenu initial position*/
        top: 0;
        left: 140%;
    }

    .sub-menu--lg-slide-left::before {
        /*little left arrow on the second level submenus*/
        content: "";
        position: absolute;
        top: 0.9rem;
        left: -2.5rem;
        border: 1.2rem solid transparent;
        border-right-color: var(--submenu-border-color);

    }

    /* SUB MENU EFFECTS*/

    /*up direction of the first level menus*/
    .main-menu--lg li:hover>.sub-menu--lg-slide-up {
        top: var(--main-menu-line-height);
        opacity: 1;
        visibility: visible;
    }

    .sub-menu--lg li:hover>.sub-menu--lg-slide-left {
        left: 100%;
        opacity: 1;
        visibility: visible;
    }
}