:root {
    --op-menu-link-color: #eee;
    --op-menu-text-color: #aaa;
    --op-menu-on-hover-color: #eb3330;
    --op-menu-transition-speed: 500ms;
    --submenu-border-color: #eb3330;
    --header-background-color: #191919;
    --menu-background-color: #191919;
    --search-button-color: #eb3330;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px;
    background: white;
    color: var(--op-menu-text-color);
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--header-background-color);
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;

}

.header__logo {}

.menu__burger-buttons {
    font-size: 4rem;
    color: var(--op-menu-link-color);
    position: absolute;
    right: 1rem;
    top: 1rem;
    /* transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%); */
}

/* Navigation menu */

.nav {}

.main-menu {}

.main-menu--sm {}

.main-menu__link {}

.sub-menu {}

.sub-menu--sm {}

.sub-menu__link {}



/* Desktop view */
@media only screen and (min-width: 850px) {

    .menu__burger-buttons {
        display: none;
    }

    .main-menu--lg {}

    .sub-menu--lg {}
}